<p style="color: green"><%= notice %></p>

<h1>Пользователи</h1>

<div id="users" class="container">
  <% @users.each do |user| %>
    <div class="mt-4">
      <%= render user %>
      <%= link_to "Show this user", user, class: "btn btn-secondary mt-2" %>
    </div>
  <% end %>
</div>

<%= link_to "New user", new_user_path, class: "btn btn-primary mt-4" %>
