<h3>Залыгин Вячеслав Константинович, ИУ6-33Б, 15 вариант</h3>
<p>Дан массив чисел arr_t. Определить максимум массива и поместить на место первого отрицательного элемента или на минимального, если отрицательных нет.</p>

<%= form_tag("/main/result", :method => "get") do %>
    <%= label_tag("Введите массив arr_t через пробел:") %>
    <%= text_field_tag(:arr_t, '-1 -2 -3 1 2 3') %>
    <br/>
    <%= submit_tag("Вычислить") %>
<% end %>