<h3>Залыгин Вячеслав Константинович, ИУ6-33Б, 15 вариант</h3>
<p>Дан массив чисел arr_a. Определить сумму положительных элементов и поместить ее на место последнего четного элемента этого массива.</p>

<%= form_tag("/main/result", :method => "get") do %>
    <%= label_tag("Введите массив arr_a через пробел:") %>
    <%= text_field_tag(:arr_a, 'a b c ') %>
    <br/>
    <%= submit_tag("Вычислить") %>
<% end %>